* {
  margin: 0;
  box-shadow: none!important;
}

body {
  background-color: #f6f6f6;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #4e4e4e;
  font-size: 2rem;
}
.app__header > h1::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../public/favicon.png) no-repeat;
  background-size: contain;
  margin-right: 8px;
  position: relative;
  top: 8px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #4e4e4e;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.app__right {
  border-radius: 20px!important;
}
.app__right:first-of-type {
  border-radius: 20px!important;
  margin-bottom: 20px;
}
.app__sample {
  display: flex;
  flex-direction: column;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
